<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="SuiteWithAllTests">
    <test name="AllTests">
        <parameter name="browser" value="firefox" />
        <classes>
            <class name="Regression" />
            <class name="Feature1" />
            <class name="Feature2" />
            <class name="Feature3" />
        </classes>
    </test>
</suite>